h1= title

form(method='post')

  .field
    lable email
    .input
      input(name='email')

  .field
    lable username
    .input
      input(name='username')

  .field
    lable password
    .input
      input(name='password', type='password')

  .field
    lable age
    .input
      input(name='age')

  .field
    lable a float field
    .input
      input(name='floatField')

  .field
    lable birth
    .input
      input(name='birth')

  .field
    .input
      input(type='submit') submit
